{% extends 'base.html' %}

{% block conteudo%}
<main class="text-center py-5">
  <img src="{{url_for('static', filename='/images/logo/capa_a5.png')}}" alt="Banner com logo A5 Records"
    class="capa_logo">

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-6">
        <iframe src="https://giphy.com/embed/jUDegiyw84wDMAOHfb" width="140" height="140" class="rounded-circle"
          title="Gif animado">
        </iframe>

        <h2 class="produto">Gravação</h2>
        <p class="produto"><strong>Texto modelo</strong> Gravação multipista analógica com os melhores equipamentos do
          mercado.</p>
      </div>

      <div class="col-lg-6">
        <iframe src="https://giphy.com/embed/jUDegiyw84wDMAOHfb" width="140" height="140" class="rounded-circle"
          title="Gif animado">
        </iframe>

        <h2 class="produto">Mixagem</h2>
        <p class="produto"> <strong>Texto modelo</strong> Traga seu projeto para nosso estúdio para mixagem e
          masterização com os melhores plugins de mercado</p>
      </div>
    </div>
</main>
{% endblock %}