{% extends 'base.html' %}

{% block conteudo%}
<main>
    <div class="align-items-body pt-5">
        <div class="my-auto flex-wrap g-0  d-flex justify-content-around">
            <div class="d-flex flex-wrap justify-content-around no-padding-small">
                <div class="col d-flex justify-content-center">
                    <img class="imagem_home_studio" src="../static/images/logo/home_studio.jpg"
                        alt="Imagem da A5 Records Home Studio">
                </div>
                
                <div class="my-auto flex-wrap g-0  d-flex justify-content-around">
                    <div class="d-flex flex-wrap justify-content-around no-padding-small">
                        <div class="imagem-home col d-flex justify-content-center">
                            <img class="texto_imagem" src="../static/images/logo/sobre_nos.png"
                                alt="Imagem com texto sobre a A5 Records">
                        </div>
                    </div>
                </div>
            </div>
</main>
{% endblock %}